input_mesh_file testinputs/zalesak.obj

num_grid_cells 25
grid_bounding_box_style fixed_cube
cube_min_coord 0.0
cube_max_coord 1.0

verbosity 0

## Run mode
run_mode scene

## Scene params
scene_type zalesak
dt 0.01
max_sim_time 6.28


# ## Output options
should_output_frames					1
output_type								obj
output_path 							outputs/zalesak/out.obj

##  Algorithm Parameters
grid_vertex_resolution_method 			fast_marching_method
marching_cubes_method 					8_octant_method
edge_deep_cell_test_depth 2

run_grid_labeler 1
run_complex_cell_detector 1
run_value_transferrer 1
run_state_saver	 1
run_cell_separator 1
run_multi_label_marching_cuber 1
# Disabled to avoid the initial remeshing of the mesh.
run_mesh_upkeeper 0

run_input_mesh_consistency_tests all