einops==0.8.1
huggingface_hub==1.0.1
numpy<1.24
omegaconf==2.3.0
opencv-python==4.8.0.76
Pillow==12.1.0
plyfile==1.1.3
safetensors==0.7.0
scipy>=1.10.0
smplx==0.1.28
tqdm==4.67.1
trimesh==4.9.0
pyyaml
plotly>=5.0.0
dash>=2.0.0
scikit-learn
pandas
addict
matplotlib
hydra-core>=1.3.2
chumpy
huggingface_hub