out
*.ipch
.vs/
Debug/
Release/
SDTopoFixer/
!SDTopoFixer/SDTopoFixer.vcxproj
!SDTopoFixer/SDTopoFixer.vcxproj.filters
x64/
/mesh.obj
/mesh.txt
/mesh.bin
/tests/mesh.txt
/tests/__pycache__
/inputscripts/__pycache__
testinputs/temp
testinputs/sample_input.txt
testinputs/sample_input_usual.txt
testinputs/sample_input_debug.txt
tests_output/
output/
outputs/
testinputs/crash72/
testinputs/100_spheres_sample_run/run_0
out1.bin
*.tlog
*.lastbuildstate
build
imgui.ini
*.pyc
.cache
bazel-*
MODULE.bazel.lock
renders/
houdini/
