openapi: 3.1.0
info:
  title: Straylight Unified API
  version: 1.0.0
  license:
    name: Proprietary
    url: https://straylight.cx/legal/license
  description: |
    # Straylight CMO Platform - Unified Agent API

    Multi-agent orchestration for brand intelligence, content generation,
    and marketing automation. Postgres-backed, Fly.io-scaled, Weyl-powered.

    ## Architecture

    ```
    MAESTRO (Orchestrator)
         │
         ├─ CMO Domain (Content, Campaigns, Analytics, Publishing)
         ├─ Compositor Domain (Render, Effects, Animation, Audio)
         └─ Vector Domain (Intelligence, Partnerships)
    ```

    ## Authentication

    All endpoints require Bearer token authentication.

    ```bash
    curl -H "Authorization: Bearer $TOKEN" https://api.straylight.cx/...
    ```

    ## Agent Invocation Pattern

    1. **MAESTRO predicts** agents from partial input (as user types)
    2. **Agent Registry** resolves capabilities
    3. **Domain Agent** executes the task
    4. **Brand Guardian** verifies output
    5. **Response** returned with verification status

servers:
  - url: https://api.straylight.cx
    description: Production API
  - url: https://api.staging.straylight.cx
    description: Staging API

security:
  - bearer: []

tags:
  # Orchestration
  - name: maestro
    description: MAESTRO predictive orchestrator - routes intents to agents
  - name: agents
    description: Agent registry - capabilities, health, invocation
  - name: modules
    description: UI module registry - Bento grid modules, lifecycle
  - name: workflows
    description: Multi-agent workflow orchestration
  - name: events
    description: Event sourcing and replay
  - name: snapshots
    description: Event-sourced state snapshots

  # CMO Domain
  - name: cmo.content
    description: Content generation and management
  - name: cmo.campaigns
    description: Campaign planning and execution
  - name: cmo.analytics
    description: Performance metrics and reporting
  - name: cmo.publishing
    description: Social media publishing and scheduling
  - name: cmo.brand
    description: Brand intelligence and compliance
  - name: cmo.trends
    description: Trend research and competitive intelligence
  - name: cmo.abtests
    description: A/B testing and experimentation
  - name: cmo.calendar
    description: Content calendar and editorial planning
  - name: cmo.audiences
    description: Audience segments and targeting
  - name: cmo.templates
    description: Content and brief templates
  - name: cmo.approvals
    description: Content approval workflows
  - name: cmo.ideas
    description: Content ideation pipeline
  - name: cmo.pillars
    description: Content pillars and themes
  - name: cmo.reports
    description: Report generation and export
  - name: cmo.hashtags
    description: Hashtag research and optimization

  # Compositor Domain
  - name: compositor.render
    description: AI-powered video/image generation (Weyl backend)
  - name: compositor.assets
    description: Asset management and storage
  - name: compositor.queue
    description: Render queue management
  - name: compositor.workers
    description: Render worker pool
  - name: compositor.loras
    description: LoRA model management and training
  - name: compositor.cache
    description: Render cache management
  - name: compositor.transcode
    description: Video transcoding

  # Brand Intelligence
  - name: discovery
    description: Brand discovery sessions and extraction
  - name: ingestion
    description: Brand data ingestion pipeline
  - name: graph
    description: Knowledge graph queries

  # Voice
  - name: voice
    description: Voice interface - STT/TTS for conversational UI

  # UI System
  - name: ui.layouts
    description: Bento grid layouts
  - name: ui.themes
    description: Theme and style management
  - name: ui.animations
    description: Animation presets

  # Infrastructure
  - name: infrastructure
    description: Fly.io machines, volumes, scaling
  - name: health
    description: Service health and readiness
  - name: config
    description: Feature flags and configuration
  - name: scheduler
    description: Scheduled tasks and cron jobs
  - name: queues
    description: Job queue management

  # Security
  - name: auth
    description: Authentication and OAuth flows
  - name: apikeys
    description: API key management
  - name: permissions
    description: Roles and permissions
  - name: sessions
    description: Session management

  # Data
  - name: brands
    description: Brand profiles and configuration
  - name: memory
    description: Multi-tier memory system
  - name: cas
    description: Content-addressable storage
  - name: attestations
    description: Cryptographic proofs and verification
  - name: schemas
    description: Schema versioning and migrations
  - name: search
    description: Full-text search

  # Integration
  - name: integrations
    description: Platform OAuth connections
  - name: webhooks
    description: Webhook registration and delivery

  # Developer
  - name: sandbox
    description: Test environment and mock data
  - name: sdk
    description: SDK configuration
  - name: audit
    description: Audit logs
  - name: export
    description: Data export and portability
  - name: bulk
    description: Bulk operations
  - name: debug
    description: Debugging and tracing

x-tagGroups:
  - name: Orchestration
    tags: [maestro, agents, modules, workflows, events, snapshots]
  - name: CMO Domain
    tags: [cmo.content, cmo.campaigns, cmo.analytics, cmo.publishing, cmo.brand, cmo.trends, cmo.abtests, cmo.calendar, cmo.audiences, cmo.templates, cmo.approvals, cmo.ideas, cmo.pillars, cmo.reports, cmo.hashtags]
  - name: Compositor Domain
    tags: [compositor.render, compositor.assets, compositor.queue, compositor.workers, compositor.loras, compositor.cache, compositor.transcode]
  - name: Brand Intelligence
    tags: [discovery, ingestion, graph]
  - name: Voice
    tags: [voice]
  - name: UI System
    tags: [ui.layouts, ui.themes, ui.animations]
  - name: Infrastructure
    tags: [infrastructure, health, config, scheduler, queues]
  - name: Security
    tags: [auth, apikeys, permissions, sessions]
  - name: Data
    tags: [brands, memory, cas, attestations, schemas, search]
  - name: Integration
    tags: [integrations, webhooks]
  - name: Developer
    tags: [sandbox, sdk, audit, export, bulk, debug]

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from authentication service

  # ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  # PARAMETERS (Pagination, Idempotency)
  # ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  parameters:
    PageLimit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of items per page

    PageCursor:
      name: cursor
      in: query
      schema:
        type: string
      description: Pagination cursor (opaque, from previous response)

    PageOffset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Offset for pagination (alternative to cursor)

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      schema:
        type: string
        format: uuid
      description: |
        Client-generated UUID to ensure exactly-once semantics.
        Requests with the same key return cached response for 24h.

  # ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  # HEADERS
  # ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  headers:
    X-Request-Id:
      schema:
        type: string
        format: uuid
      description: Request trace ID for debugging

    X-Idempotent-Replayed:
      schema:
        type: boolean
      description: True if response was replayed from idempotency cache

    X-RateLimit-Limit:
      schema:
        type: integer
      description: Rate limit ceiling

    X-RateLimit-Remaining:
      schema:
        type: integer
      description: Remaining requests in window

    X-RateLimit-Reset:
      schema:
        type: integer
      description: Unix timestamp when limit resets

  # ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  # SCHEMAS
  # ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  schemas:
    # ─────────────────────────────────────────────────────────────────────────
    # Identifiers
    # ─────────────────────────────────────────────────────────────────────────
    UUID:
      type: string
      format: uuid
      description: UUID v4 identifier
      example: "550e8400-e29b-41d4-a716-446655440000"

    UUID5:
      type: string
      format: uuid
      description: UUID v5 (deterministic, content-addressed)
      example: "a3bb189e-8bf9-3888-9912-ace4e6543002"

    AgentId:
      type: string
      pattern: '^[a-z]+\.[a-z]+(\.[a-z]+)*$'
      description: Hierarchical agent identifier
      example: "cmo.content.generator"

    ContentHash:
      type: string
      pattern: '^[a-f0-9]{64}$'
      description: SHA256 content hash
      example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"

    # ─────────────────────────────────────────────────────────────────────────
    # Enums
    # ─────────────────────────────────────────────────────────────────────────
    AgentDomain:
      type: string
      enum: [cmo, compositor, vector, system]
      description: Agent domain classification

    AgentState:
      type: string
      enum: [active, idle, busy, degraded, offline]
      description: Agent runtime state

    Platform:
      type: string
      enum: [twitter, linkedin, instagram, facebook, tiktok, youtube, pinterest]
      description: Social media platform

    ContentType:
      type: string
      enum: [post, thread, article, story, reel, video, image, carousel]
      description: Content format type

    RenderModality:
      type: string
      enum: [video, image]
      description: Render output type

    RenderTask:
      type: string
      enum: [t2v, i2v, t2i, i2i, edit]
      description: |
        Render task type:
        - t2v: text to video
        - i2v: image to video
        - t2i: text to image
        - i2i: image to image
        - edit: inpaint/outpaint

    RenderFamily:
      type: string
      enum: [flux, wan, qwen, zimage, sdxl]
      description: Model family/backbone

    RenderBackend:
      type: string
      enum: [nunchaku, torch, tensorrt]
      description: Inference backend

    JobStatus:
      type: string
      enum: [pending, queued, running, complete, failed, cancelled]
      description: Job lifecycle state

    MemoryTier:
      type: string
      enum: [session, project, user, global]
      description: Memory storage tier

    VerificationStatus:
      type: string
      enum: [approved, rejected, warning, pending]
      description: Brand verification status

    # ─────────────────────────────────────────────────────────────────────────
    # MAESTRO Types
    # ─────────────────────────────────────────────────────────────────────────
    MaestroPredictRequest:
      type: object
      required: [input]
      properties:
        input:
          type: string
          description: User input (can be partial/incomplete)
          example: "create a twitter post about"
        context:
          $ref: '#/components/schemas/MaestroContext'
        include_agents:
          type: boolean
          default: true
          description: Include agent predictions in response
        max_candidates:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Maximum agent candidates to return

    MaestroContext:
      type: object
      properties:
        user_id:
          $ref: '#/components/schemas/UUID'
        session_id:
          $ref: '#/components/schemas/UUID'
        project_id:
          $ref: '#/components/schemas/UUID'
        brand_id:
          $ref: '#/components/schemas/UUID'
        active_modules:
          type: array
          items:
            type: string
          description: Currently active UI modules
        recent_queries:
          type: array
          items:
            type: string
          description: Recent user queries for context

    MaestroPrediction:
      type: object
      required: [intent, agents]
      properties:
        intent:
          $ref: '#/components/schemas/ParsedIntent'
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentMatch'
        coordination:
          $ref: '#/components/schemas/CoordinationPlan'
        cache_hit:
          type: boolean
        prediction_time_ms:
          type: number
          format: float

    ParsedIntent:
      type: object
      required: [type, confidence]
      properties:
        type:
          type: string
          enum: [query, command, question, workflow]
        action:
          type: string
          description: Detected action verb
        target:
          type: string
          description: Target of the action
        parameters:
          type: object
          additionalProperties: true
        confidence:
          type: number
          minimum: 0
          maximum: 1
        is_complete:
          type: boolean
          description: Whether input appears complete

    AgentMatch:
      type: object
      required: [agent_id, capability, confidence]
      properties:
        agent_id:
          $ref: '#/components/schemas/AgentId'
        capability:
          type: string
          description: Matched capability name
        confidence:
          type: number
          minimum: 0
          maximum: 1
        domain:
          $ref: '#/components/schemas/AgentDomain'
        estimated_latency_ms:
          type: integer
        match_type:
          type: string
          enum: [pattern, semantic, context]

    CoordinationPlan:
      type: object
      description: Cross-domain coordination plan
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentId'
        execution_order:
          type: array
          items:
            $ref: '#/components/schemas/AgentId'
        dependencies:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AgentId'

    # ─────────────────────────────────────────────────────────────────────────
    # Agent Types
    # ─────────────────────────────────────────────────────────────────────────
    Agent:
      type: object
      required: [id, name, domain, capabilities, state]
      properties:
        id:
          $ref: '#/components/schemas/AgentId'
        name:
          type: string
        description:
          type: string
        domain:
          $ref: '#/components/schemas/AgentDomain'
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/AgentCapability'
        state:
          $ref: '#/components/schemas/AgentState'
        version:
          type: string
        metrics:
          $ref: '#/components/schemas/AgentMetrics'

    AgentCapability:
      type: object
      required: [name, description]
      properties:
        name:
          type: string
          description: Capability identifier
        description:
          type: string
        patterns:
          type: array
          items:
            type: string
          description: Intent patterns that trigger this capability
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ParameterSpec'
        returns:
          type: string
          description: Return type description

    ParameterSpec:
      type: object
      required: [type]
      properties:
        type:
          type: string
        required:
          type: boolean
          default: false
        description:
          type: string
        default:
          description: Default value

    AgentMetrics:
      type: object
      properties:
        invocations_total:
          type: integer
        success_rate:
          type: number
        avg_latency_ms:
          type: number
        last_invoked_at:
          type: string
          format: date-time

    AgentInvokeRequest:
      type: object
      required: [capability, parameters]
      properties:
        capability:
          type: string
          description: Capability to invoke
        parameters:
          type: object
          additionalProperties: true
        context:
          $ref: '#/components/schemas/MaestroContext'
        async:
          type: boolean
          default: false
          description: Run asynchronously (return job ID)
        webhook:
          type: string
          format: uri
          description: Webhook URL for async completion

    AgentInvokeResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [success, error, async]
        result:
          description: Capability result (if sync)
        job_id:
          $ref: '#/components/schemas/UUID'
          description: Job ID (if async)
        verification:
          $ref: '#/components/schemas/BrandVerification'
        latency_ms:
          type: integer

    # ─────────────────────────────────────────────────────────────────────────
    # Brand Types
    # ─────────────────────────────────────────────────────────────────────────
    BrandProfile:
      type: object
      required: [id, name]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        tagline:
          type: string
        mission:
          type: string
        values:
          type: array
          items:
            type: string
        industry:
          type: string
        voice:
          $ref: '#/components/schemas/BrandVoice'
        visual:
          $ref: '#/components/schemas/BrandVisual'
        guardrails:
          $ref: '#/components/schemas/BrandGuardrails'
        personas:
          type: array
          items:
            $ref: '#/components/schemas/Persona'
        default_persona_id:
          $ref: '#/components/schemas/UUID'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    BrandVoice:
      type: object
      properties:
        tone:
          type: string
          enum: [professional, conversational, energetic, calm, authoritative, friendly, playful]
        formality:
          type: number
          minimum: 0
          maximum: 1
          description: 0 = casual, 1 = formal
        enthusiasm:
          type: number
          minimum: 0
          maximum: 1
        keywords:
          type: array
          items:
            type: string
          description: Words to use
        avoid_words:
          type: array
          items:
            type: string
          description: Words to avoid

    BrandVisual:
      type: object
      properties:
        colors:
          type: array
          items:
            $ref: '#/components/schemas/BrandColor'
        typography:
          type: array
          items:
            $ref: '#/components/schemas/BrandTypography'
        imagery_style:
          type: string
        logo_primary_url:
          type: string
          format: uri
        logo_icon_url:
          type: string
          format: uri

    BrandColor:
      type: object
      required: [role, oklch]
      properties:
        role:
          type: string
          enum: [primary, secondary, tertiary, accent, background, surface, foreground]
        oklch:
          type: object
          required: [l, c, h]
          properties:
            l:
              type: number
              minimum: 0
              maximum: 1
              description: Lightness
            c:
              type: number
              minimum: 0
              maximum: 0.4
              description: Chroma
            h:
              type: number
              minimum: 0
              maximum: 360
              description: Hue
        hex:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        name:
          type: string

    BrandTypography:
      type: object
      required: [role, font_family]
      properties:
        role:
          type: string
          enum: [display, heading, subheading, body, caption, label, code]
        font_family:
          type: string
        font_weight:
          type: integer
          enum: [100, 200, 300, 400, 500, 600, 700, 800, 900]
        font_style:
          type: string
          enum: [normal, italic]

    BrandGuardrails:
      type: object
      properties:
        forbidden_words:
          type: array
          items:
            type: string
        required_disclosures:
          type: array
          items:
            type: string
        compliance_regions:
          type: array
          items:
            type: string
        content_restrictions:
          type: array
          items:
            type: string

    Persona:
      type: object
      required: [id, name, type]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        display_name:
          type: string
        type:
          type: string
          enum: [brand_avatar, spokesperson, mascot, presenter, narrator, character, ugc_creator, expert]
        description:
          type: string
        base_image_url:
          type: string
          format: uri
        lora_id:
          type: string
          description: LoRA model reference for AI generation
        voice_profile_id:
          $ref: '#/components/schemas/UUID'
        personality_traits:
          type: array
          items:
            type: string

    BrandVerification:
      type: object
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/VerificationStatus'
        scores:
          type: object
          properties:
            voice:
              type: number
              minimum: 0
              maximum: 1
            visual:
              type: number
              minimum: 0
              maximum: 1
        violations:
          type: array
          items:
            $ref: '#/components/schemas/BrandViolation'
        suggestions:
          type: array
          items:
            type: string

    BrandViolation:
      type: object
      required: [type, message, severity]
      properties:
        type:
          type: string
          enum: [voice_mismatch, forbidden_word, color_violation, compliance_issue]
        message:
          type: string
        severity:
          type: string
          enum: [error, warning, info]
        location:
          type: string
          description: Where in the content the violation occurred
        auto_fixable:
          type: boolean

    # ─────────────────────────────────────────────────────────────────────────
    # Content Types
    # ─────────────────────────────────────────────────────────────────────────
    ContentGenerateRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
          minLength: 1
          maxLength: 4000
        content_type:
          $ref: '#/components/schemas/ContentType'
        platform:
          $ref: '#/components/schemas/Platform'
        brand_id:
          $ref: '#/components/schemas/UUID'
        persona_id:
          $ref: '#/components/schemas/UUID'
        tone_override:
          type: string
        length:
          type: string
          enum: [short, medium, long]
        include_hashtags:
          type: boolean
          default: true
        include_cta:
          type: boolean
          default: false
        variations:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Number of variations to generate

    Content:
      type: object
      required: [id, text, content_type]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        text:
          type: string
        content_type:
          $ref: '#/components/schemas/ContentType'
        platform:
          $ref: '#/components/schemas/Platform'
        hashtags:
          type: array
          items:
            type: string
        media_urls:
          type: array
          items:
            type: string
            format: uri
        brand_id:
          $ref: '#/components/schemas/UUID'
        persona_id:
          $ref: '#/components/schemas/UUID'
        verification:
          $ref: '#/components/schemas/BrandVerification'
        created_at:
          type: string
          format: date-time
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    # ─────────────────────────────────────────────────────────────────────────
    # Render Types (Weyl Integration)
    # ─────────────────────────────────────────────────────────────────────────
    RenderRequest:
      type: object
      required: [prompt]
      properties:
        prompt:
          type: string
          minLength: 1
          maxLength: 4000
        modality:
          $ref: '#/components/schemas/RenderModality'
        family:
          $ref: '#/components/schemas/RenderFamily'
        model:
          type: string
          description: Model variant (e.g., schnell, dev, default)
        task:
          $ref: '#/components/schemas/RenderTask'
        image:
          type: string
          description: Source image URL (for i2v, i2i, edit)
        mask:
          type: string
          description: Mask image URL (for edit)
        negative_prompt:
          type: string
        format:
          type: string
          description: Output format (720p, 1024, portrait, etc.)
        duration:
          type: number
          minimum: 0.5
          maximum: 10
          description: Video duration in seconds
        steps:
          type: integer
          minimum: 1
          maximum: 150
        guidance:
          type: number
          minimum: 0
          maximum: 30
        cfg:
          type: number
          minimum: 0
          maximum: 20
        seed:
          type: integer
          minimum: 0
          maximum: 4294967295
        backend:
          $ref: '#/components/schemas/RenderBackend'
        # Brand integration
        brand_id:
          $ref: '#/components/schemas/UUID'
        persona_id:
          $ref: '#/components/schemas/UUID'
        apply_brand_colors:
          type: boolean
          default: false
        # LoRA for persona consistency
        lora:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              weight:
                type: number
                default: 1.0

    RenderJob:
      type: object
      required: [id, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        status:
          $ref: '#/components/schemas/JobStatus'
        modality:
          $ref: '#/components/schemas/RenderModality'
        family:
          $ref: '#/components/schemas/RenderFamily'
        model:
          type: string
        task:
          $ref: '#/components/schemas/RenderTask'
        progress:
          type: number
          minimum: 0
          maximum: 1
        eta_seconds:
          type: integer
        output_url:
          type: string
          format: uri
        outputs:
          type: array
          items:
            type: string
            format: uri
        seed:
          type: integer
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        worker_id:
          type: string
          description: Fly.io machine ID that processed this job
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    # ─────────────────────────────────────────────────────────────────────────
    # Infrastructure Types (Fly.io Integration)
    # ─────────────────────────────────────────────────────────────────────────
    Machine:
      type: object
      required: [id, state, region]
      properties:
        id:
          type: string
          description: Fly.io machine ID
        name:
          type: string
        state:
          type: string
          enum: [created, starting, started, stopping, stopped, destroying, destroyed]
        region:
          type: string
          description: Fly.io region code
        instance_id:
          type: string
        private_ip:
          type: string
          format: ipv6
        config:
          $ref: '#/components/schemas/MachineConfig'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MachineConfig:
      type: object
      properties:
        image:
          type: string
          description: Container image
        guest:
          type: object
          properties:
            cpu_kind:
              type: string
              enum: [shared, performance]
            cpus:
              type: integer
            memory_mb:
              type: integer
            gpu_kind:
              type: string
              enum: [a100-40gb, a100-80gb, l40s, a10]
        env:
          type: object
          additionalProperties:
            type: string
        services:
          type: array
          items:
            type: object
            properties:
              ports:
                type: array
                items:
                  type: object
                  properties:
                    port:
                      type: integer
                    handlers:
                      type: array
                      items:
                        type: string
        mounts:
          type: array
          items:
            type: object
            properties:
              volume:
                type: string
              path:
                type: string

    Volume:
      type: object
      required: [id, name, state]
      properties:
        id:
          type: string
        name:
          type: string
        state:
          type: string
          enum: [created, attached, detached, destroyed]
        size_gb:
          type: integer
        region:
          type: string
        zone:
          type: string
        encrypted:
          type: boolean
        attached_machine_id:
          type: string
        created_at:
          type: string
          format: date-time

    ScaleConfig:
      type: object
      required: [min_machines, max_machines]
      properties:
        min_machines:
          type: integer
          minimum: 0
        max_machines:
          type: integer
          minimum: 1
        target_gpu_utilization:
          type: number
          minimum: 0
          maximum: 1
          description: Target GPU utilization for scaling
        scale_to_zero:
          type: boolean
          default: false
        scale_to_zero_timeout_seconds:
          type: integer
          description: Seconds of idle before scaling to zero
        regions:
          type: array
          items:
            type: string
          description: Regions to scale in

    # ─────────────────────────────────────────────────────────────────────────
    # Memory Types
    # ─────────────────────────────────────────────────────────────────────────
    MemoryEntry:
      type: object
      required: [key, value, tier, namespace]
      properties:
        key:
          type: string
        value:
          description: Any JSON value
        tier:
          $ref: '#/components/schemas/MemoryTier'
        namespace:
          type: string
        scope_id:
          $ref: '#/components/schemas/UUID'
          description: Session/project/user ID depending on tier
        ttl_seconds:
          type: integer
          description: Time-to-live (session tier only)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MemoryQuery:
      type: object
      required: [tier]
      properties:
        tier:
          $ref: '#/components/schemas/MemoryTier'
        namespace:
          type: string
        key_prefix:
          type: string
        scope_id:
          $ref: '#/components/schemas/UUID'
        limit:
          type: integer
          default: 100
        offset:
          type: integer
          default: 0

    # ─────────────────────────────────────────────────────────────────────────
    # Publishing Types
    # ─────────────────────────────────────────────────────────────────────────
    PublishRequest:
      type: object
      required: [content_id, platforms]
      properties:
        content_id:
          $ref: '#/components/schemas/UUID'
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        schedule_at:
          type: string
          format: date-time
          description: When to publish (null = immediately)
        adapt_per_platform:
          type: boolean
          default: true
          description: Auto-adapt content for each platform

    PublishJob:
      type: object
      required: [id, content_id, platform, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        content_id:
          $ref: '#/components/schemas/UUID'
        platform:
          $ref: '#/components/schemas/Platform'
        status:
          $ref: '#/components/schemas/JobStatus'
        scheduled_at:
          type: string
          format: date-time
        published_at:
          type: string
          format: date-time
        platform_post_id:
          type: string
          description: ID of the post on the platform
        platform_url:
          type: string
          format: uri
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Analytics Types
    # ─────────────────────────────────────────────────────────────────────────
    AnalyticsQuery:
      type: object
      required: [metrics]
      properties:
        metrics:
          type: array
          items:
            type: string
            enum: [impressions, reach, engagement, clicks, shares, likes, comments, ctr, roi]
        dimensions:
          type: array
          items:
            type: string
            enum: [platform, content_type, campaign, date, persona]
        filters:
          type: object
          properties:
            brand_id:
              $ref: '#/components/schemas/UUID'
            campaign_id:
              $ref: '#/components/schemas/UUID'
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/Platform'
            date_from:
              type: string
              format: date
            date_to:
              type: string
              format: date
        granularity:
          type: string
          enum: [hour, day, week, month]
          default: day

    AnalyticsResult:
      type: object
      required: [data, query]
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        query:
          $ref: '#/components/schemas/AnalyticsQuery'
        totals:
          type: object
          additionalProperties:
            type: number
        generated_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Error Types
    # ─────────────────────────────────────────────────────────────────────────
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable message
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true

    # ─────────────────────────────────────────────────────────────────────────
    # Pagination Types
    # ─────────────────────────────────────────────────────────────────────────
    PageInfo:
      type: object
      required: [has_next, has_prev]
      properties:
        has_next:
          type: boolean
        has_prev:
          type: boolean
        next_cursor:
          type: string
        prev_cursor:
          type: string
        total:
          type: integer
          description: Total count (if available)

    # ─────────────────────────────────────────────────────────────────────────
    # Workflow Types
    # ─────────────────────────────────────────────────────────────────────────
    WorkflowDefinition:
      type: object
      required: [id, name, steps]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        name:
          type: string
        description:
          type: string
        steps:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowStep'
        trigger:
          $ref: '#/components/schemas/WorkflowTrigger'
        created_at:
          type: string
          format: date-time
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    WorkflowStep:
      type: object
      required: [id, agent_id, capability]
      properties:
        id:
          type: string
        agent_id:
          $ref: '#/components/schemas/AgentId'
        capability:
          type: string
        parameters:
          type: object
          additionalProperties: true
        depends_on:
          type: array
          items:
            type: string
          description: Step IDs this step depends on
        condition:
          type: string
          description: Expression to evaluate for conditional execution
        retry:
          type: object
          properties:
            max_attempts:
              type: integer
              default: 3
            backoff_ms:
              type: integer
              default: 1000

    WorkflowTrigger:
      type: object
      properties:
        type:
          type: string
          enum: [manual, schedule, event, webhook]
        schedule:
          type: string
          description: Cron expression (if type=schedule)
        event_type:
          type: string
          description: Event type to listen for (if type=event)

    WorkflowExecution:
      type: object
      required: [id, workflow_id, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        workflow_id:
          $ref: '#/components/schemas/UUID5'
        status:
          type: string
          enum: [pending, running, paused, completed, failed, cancelled]
        steps:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowStepExecution'
        context:
          type: object
          additionalProperties: true
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/Error'

    WorkflowStepExecution:
      type: object
      required: [step_id, status]
      properties:
        step_id:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed, skipped]
        result:
          description: Step output
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/Error'

    # ─────────────────────────────────────────────────────────────────────────
    # Voice Types (STT/TTS)
    # ─────────────────────────────────────────────────────────────────────────
    VoiceSessionState:
      type: string
      enum: [idle, listening, processing, speaking, error]

    VoiceSession:
      type: object
      required: [id, state]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        state:
          $ref: '#/components/schemas/VoiceSessionState'
        brand_id:
          $ref: '#/components/schemas/UUID'
        voice_profile_id:
          $ref: '#/components/schemas/UUID'
        audio_config:
          $ref: '#/components/schemas/AudioConfig'
        created_at:
          type: string
          format: date-time

    AudioConfig:
      type: object
      properties:
        sample_rate:
          type: integer
          enum: [8000, 16000, 22050, 44100, 48000]
          default: 16000
        encoding:
          type: string
          enum: [pcm_s16le, opus, mp3, aac]
          default: opus
        channels:
          type: integer
          enum: [1, 2]
          default: 1

    STTRequest:
      type: object
      required: [audio]
      properties:
        audio:
          type: string
          format: byte
          description: Base64-encoded audio data
        audio_config:
          $ref: '#/components/schemas/AudioConfig'
        language:
          type: string
          default: en-US
        interim_results:
          type: boolean
          default: false

    STTResult:
      type: object
      required: [transcript]
      properties:
        transcript:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        is_final:
          type: boolean
        alternatives:
          type: array
          items:
            type: object
            properties:
              transcript:
                type: string
              confidence:
                type: number

    TTSRequest:
      type: object
      required: [text]
      properties:
        text:
          type: string
          maxLength: 5000
        voice_profile_id:
          $ref: '#/components/schemas/UUID'
        persona_id:
          $ref: '#/components/schemas/UUID'
        audio_config:
          $ref: '#/components/schemas/AudioConfig'
        speed:
          type: number
          minimum: 0.5
          maximum: 2.0
          default: 1.0
        pitch:
          type: number
          minimum: -10
          maximum: 10
          default: 0

    TTSResult:
      type: object
      required: [audio_url]
      properties:
        audio_url:
          type: string
          format: uri
        audio_data:
          type: string
          format: byte
          description: Base64-encoded audio (if inline=true)
        duration_ms:
          type: integer
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    VoiceProfile:
      type: object
      required: [id, name]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        provider:
          type: string
          enum: [elevenlabs, openai, azure, google]
        voice_id:
          type: string
          description: Provider-specific voice ID
        settings:
          type: object
          properties:
            stability:
              type: number
            similarity_boost:
              type: number
            style:
              type: number

    # ─────────────────────────────────────────────────────────────────────────
    # Campaign Types
    # ─────────────────────────────────────────────────────────────────────────
    CampaignStatus:
      type: string
      enum: [draft, scheduled, active, paused, completed, archived]

    Campaign:
      type: object
      required: [id, name, brand_id, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        brand_id:
          $ref: '#/components/schemas/UUID'
        status:
          $ref: '#/components/schemas/CampaignStatus'
        objectives:
          type: array
          items:
            type: string
        target_audience:
          $ref: '#/components/schemas/TargetAudience'
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        budget:
          $ref: '#/components/schemas/CampaignBudget'
        schedule:
          $ref: '#/components/schemas/CampaignSchedule'
        content_ids:
          type: array
          items:
            $ref: '#/components/schemas/UUID'
        metrics:
          $ref: '#/components/schemas/CampaignMetrics'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    TargetAudience:
      type: object
      properties:
        demographics:
          type: object
          properties:
            age_min:
              type: integer
            age_max:
              type: integer
            genders:
              type: array
              items:
                type: string
            locations:
              type: array
              items:
                type: string
        interests:
          type: array
          items:
            type: string
        behaviors:
          type: array
          items:
            type: string

    CampaignBudget:
      type: object
      properties:
        total:
          type: number
        currency:
          type: string
          default: USD
        daily_limit:
          type: number
        spent:
          type: number

    CampaignSchedule:
      type: object
      properties:
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        timezone:
          type: string
        posting_times:
          type: array
          items:
            type: object
            properties:
              day_of_week:
                type: integer
              hour:
                type: integer
              minute:
                type: integer

    CampaignMetrics:
      type: object
      properties:
        impressions:
          type: integer
        reach:
          type: integer
        engagement:
          type: integer
        clicks:
          type: integer
        conversions:
          type: integer
        spend:
          type: number
        roi:
          type: number

    # ─────────────────────────────────────────────────────────────────────────
    # A/B Test Types
    # ─────────────────────────────────────────────────────────────────────────
    ABTestStatus:
      type: string
      enum: [draft, running, paused, completed, cancelled]

    ABTest:
      type: object
      required: [id, name, brand_id, status, variants]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        brand_id:
          $ref: '#/components/schemas/UUID'
        status:
          $ref: '#/components/schemas/ABTestStatus'
        hypothesis:
          type: string
        variants:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/ABTestVariant'
        metrics:
          type: array
          items:
            type: string
            enum: [clicks, conversions, engagement, ctr, time_on_page]
        primary_metric:
          type: string
        sample_size:
          type: integer
        confidence_level:
          type: number
          default: 0.95
        results:
          $ref: '#/components/schemas/ABTestResults'
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    ABTestVariant:
      type: object
      required: [id, name, content_id]
      properties:
        id:
          type: string
        name:
          type: string
        content_id:
          $ref: '#/components/schemas/UUID'
        weight:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
        metrics:
          type: object
          additionalProperties:
            type: number

    ABTestResults:
      type: object
      properties:
        winner:
          type: string
          description: Variant ID of winner
        confidence:
          type: number
        lift:
          type: number
          description: Percentage improvement
        p_value:
          type: number
        by_variant:
          type: object
          additionalProperties:
            type: object
            properties:
              impressions:
                type: integer
              conversions:
                type: integer
              conversion_rate:
                type: number

    # ─────────────────────────────────────────────────────────────────────────
    # Trend Types
    # ─────────────────────────────────────────────────────────────────────────
    Trend:
      type: object
      required: [id, name, score]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        category:
          type: string
        score:
          type: number
          minimum: 0
          maximum: 100
          description: Trend strength score
        velocity:
          type: number
          description: Rate of change
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        keywords:
          type: array
          items:
            type: string
        related_topics:
          type: array
          items:
            type: string
        sentiment:
          type: number
          minimum: -1
          maximum: 1
        detected_at:
          type: string
          format: date-time

    CompetitorInsight:
      type: object
      required: [competitor_name]
      properties:
        competitor_name:
          type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        recent_content:
          type: array
          items:
            type: object
            properties:
              platform:
                $ref: '#/components/schemas/Platform'
              content_preview:
                type: string
              engagement:
                type: integer
              posted_at:
                type: string
                format: date-time
        share_of_voice:
          type: number
        sentiment:
          type: number
        top_themes:
          type: array
          items:
            type: string

    # ─────────────────────────────────────────────────────────────────────────
    # CAS (Content-Addressable Storage) Types
    # ─────────────────────────────────────────────────────────────────────────
    CASObject:
      type: object
      required: [hash, size]
      properties:
        hash:
          $ref: '#/components/schemas/ContentHash'
        size:
          type: integer
          description: Size in bytes
        content_type:
          type: string
        url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        references:
          type: integer
          description: Number of entities referencing this object

    CASPutRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          format: byte
          description: Base64-encoded content
        content_type:
          type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Attestation Types
    # ─────────────────────────────────────────────────────────────────────────
    Attestation:
      type: object
      required: [id, type, subject_hash, signature]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        type:
          type: string
          enum: [content_created, content_verified, brand_compliant, human_reviewed, ai_generated]
        subject_hash:
          $ref: '#/components/schemas/ContentHash'
        claims:
          type: object
          additionalProperties: true
        signature:
          type: string
          description: Ed25519 signature (base64)
        public_key:
          type: string
          description: Ed25519 public key (base64)
        timestamp:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    AttestationCreateRequest:
      type: object
      required: [type, subject_hash]
      properties:
        type:
          type: string
          enum: [content_created, content_verified, brand_compliant, human_reviewed, ai_generated]
        subject_hash:
          $ref: '#/components/schemas/ContentHash'
        claims:
          type: object
          additionalProperties: true
        ttl_seconds:
          type: integer
          description: Time-to-live for attestation

    # ─────────────────────────────────────────────────────────────────────────
    # Event Types (Event Sourcing)
    # ─────────────────────────────────────────────────────────────────────────
    EventType:
      type: string
      enum:
        - agent.registered
        - agent.updated
        - agent.unregistered
        - agent.state_changed
        - content.created
        - content.updated
        - content.published
        - campaign.created
        - campaign.started
        - campaign.completed
        - render.started
        - render.completed
        - workflow.started
        - workflow.completed
        - brand.updated

    Event:
      type: object
      required: [id, type, timestamp, data]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        type:
          $ref: '#/components/schemas/EventType'
        timestamp:
          type: string
          format: date-time
        data:
          type: object
          additionalProperties: true
        metadata:
          type: object
          properties:
            user_id:
              $ref: '#/components/schemas/UUID'
            session_id:
              $ref: '#/components/schemas/UUID'
            correlation_id:
              $ref: '#/components/schemas/UUID'
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    EventStream:
      type: object
      required: [stream_id, events]
      properties:
        stream_id:
          type: string
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        page_info:
          $ref: '#/components/schemas/PageInfo'

    # ─────────────────────────────────────────────────────────────────────────
    # Health Types
    # ─────────────────────────────────────────────────────────────────────────
    HealthStatus:
      type: string
      enum: [healthy, degraded, unhealthy]

    HealthCheck:
      type: object
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/HealthStatus'
        version:
          type: string
        uptime_seconds:
          type: integer
        checks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ComponentHealth'

    ComponentHealth:
      type: object
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/HealthStatus'
        latency_ms:
          type: integer
        message:
          type: string
        last_check:
          type: string
          format: date-time

    ReadinessCheck:
      type: object
      required: [ready]
      properties:
        ready:
          type: boolean
        reason:
          type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Coeffect Types
    # ─────────────────────────────────────────────────────────────────────────
    Coeffect:
      type: object
      required: [resources]
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/CoeffectResource'
        request_id:
          $ref: '#/components/schemas/UUID'
        validated:
          type: boolean

    CoeffectResource:
      type: object
      required: [type, status]
      properties:
        type:
          type: string
          enum: [network, auth, sandbox, database, render, llm, storage]
        status:
          type: string
          enum: [available, unavailable, degraded]
        permissions:
          type: array
          items:
            type: string
        constraints:
          type: object
          additionalProperties: true

    # ─────────────────────────────────────────────────────────────────────────
    # Module Registry Types
    # ─────────────────────────────────────────────────────────────────────────
    Module:
      type: object
      required: [id, name, type, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        name:
          type: string
        display_name:
          type: string
        type:
          type: string
          enum: [widget, panel, modal, overlay, drawer]
        status:
          type: string
          enum: [registered, loading, ready, error, unloaded]
        version:
          type: string
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/UUID5'
        config:
          $ref: '#/components/schemas/ModuleConfig'
        bento_size:
          $ref: '#/components/schemas/BentoSize'
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    ModuleConfig:
      type: object
      properties:
        min_width:
          type: integer
        min_height:
          type: integer
        resizable:
          type: boolean
          default: true
        draggable:
          type: boolean
          default: true
        accepts_data:
          type: array
          items:
            type: string
        provides_data:
          type: array
          items:
            type: string

    BentoSize:
      type: object
      required: [cols, rows]
      properties:
        cols:
          type: integer
          minimum: 1
          maximum: 12
        rows:
          type: integer
          minimum: 1
          maximum: 12

    # ─────────────────────────────────────────────────────────────────────────
    # UI Layout Types
    # ─────────────────────────────────────────────────────────────────────────
    Layout:
      type: object
      required: [id, name, grid]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        name:
          type: string
        description:
          type: string
        grid:
          $ref: '#/components/schemas/BentoGrid'
        breakpoints:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BentoGrid'
        is_default:
          type: boolean
        created_at:
          type: string
          format: date-time
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    BentoGrid:
      type: object
      required: [columns, cells]
      properties:
        columns:
          type: integer
          default: 12
        row_height:
          type: integer
          default: 80
        gap:
          type: integer
          default: 16
        cells:
          type: array
          items:
            $ref: '#/components/schemas/BentoCell'

    BentoCell:
      type: object
      required: [module_id, position]
      properties:
        module_id:
          $ref: '#/components/schemas/UUID5'
        position:
          type: object
          required: [x, y, w, h]
          properties:
            x:
              type: integer
            y:
              type: integer
            w:
              type: integer
            h:
              type: integer
        z_index:
          type: integer

    # ─────────────────────────────────────────────────────────────────────────
    # Theme Types
    # ─────────────────────────────────────────────────────────────────────────
    Theme:
      type: object
      required: [id, name, colors]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        name:
          type: string
        colors:
          $ref: '#/components/schemas/ThemeColors'
        typography:
          $ref: '#/components/schemas/ThemeTypography'
        glassmorphism:
          $ref: '#/components/schemas/GlassmorphismConfig'
        spacing:
          type: object
          additionalProperties:
            type: integer
        radii:
          type: object
          additionalProperties:
            type: integer
        is_dark:
          type: boolean

    ThemeColors:
      type: object
      properties:
        background:
          type: string
        surface:
          type: string
        primary:
          type: string
        secondary:
          type: string
        accent:
          type: string
        text:
          type: string
        text_muted:
          type: string
        border:
          type: string
        error:
          type: string
        warning:
          type: string
        success:
          type: string

    ThemeTypography:
      type: object
      properties:
        font_family:
          type: string
        font_family_mono:
          type: string
        scale:
          type: object
          additionalProperties:
            type: object
            properties:
              size:
                type: string
              weight:
                type: integer
              line_height:
                type: number

    GlassmorphismConfig:
      type: object
      properties:
        blur:
          type: integer
          default: 20
        saturation:
          type: number
          default: 1.8
        opacity:
          type: number
          default: 0.7
        border_opacity:
          type: number
          default: 0.2

    # ─────────────────────────────────────────────────────────────────────────
    # Animation Types
    # ─────────────────────────────────────────────────────────────────────────
    AnimationPreset:
      type: object
      required: [id, name, keyframes]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        name:
          type: string
        category:
          type: string
          enum: [entrance, exit, attention, transition, micro]
        keyframes:
          type: array
          items:
            $ref: '#/components/schemas/Keyframe'
        duration_ms:
          type: integer
          default: 300
        easing:
          type: string
          default: ease-out
        delay_ms:
          type: integer
          default: 0

    Keyframe:
      type: object
      required: [offset, properties]
      properties:
        offset:
          type: number
          minimum: 0
          maximum: 1
        properties:
          type: object
          additionalProperties: true
        easing:
          type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Calendar Types
    # ─────────────────────────────────────────────────────────────────────────
    CalendarEntry:
      type: object
      required: [id, type, scheduled_at]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
          enum: [content, campaign, event, reminder, deadline]
        title:
          type: string
        description:
          type: string
        scheduled_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        all_day:
          type: boolean
          default: false
        content_id:
          $ref: '#/components/schemas/UUID'
        campaign_id:
          $ref: '#/components/schemas/UUID'
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        status:
          type: string
          enum: [scheduled, published, cancelled, draft]
        recurrence:
          $ref: '#/components/schemas/RecurrenceRule'

    RecurrenceRule:
      type: object
      properties:
        frequency:
          type: string
          enum: [daily, weekly, monthly, yearly]
        interval:
          type: integer
          default: 1
        days_of_week:
          type: array
          items:
            type: integer
        until:
          type: string
          format: date-time
        count:
          type: integer

    # ─────────────────────────────────────────────────────────────────────────
    # Audience Types
    # ─────────────────────────────────────────────────────────────────────────
    Audience:
      type: object
      required: [id, name, brand_id]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        brand_id:
          $ref: '#/components/schemas/UUID'
        criteria:
          $ref: '#/components/schemas/AudienceCriteria'
        size_estimate:
          type: integer
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        created_at:
          type: string
          format: date-time

    AudienceCriteria:
      type: object
      properties:
        demographics:
          $ref: '#/components/schemas/TargetAudience'
        psychographics:
          type: object
          properties:
            values:
              type: array
              items:
                type: string
            lifestyle:
              type: array
              items:
                type: string
            pain_points:
              type: array
              items:
                type: string
        behaviors:
          type: object
          properties:
            purchase_frequency:
              type: string
            brand_affinity:
              type: array
              items:
                type: string
            content_preferences:
              type: array
              items:
                type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Template Types
    # ─────────────────────────────────────────────────────────────────────────
    Template:
      type: object
      required: [id, name, type, content]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [content, brief, email, social, report]
        content:
          type: string
          description: Template content with {{placeholders}}
        variables:
          type: array
          items:
            $ref: '#/components/schemas/TemplateVariable'
        category:
          type: string
        brand_id:
          $ref: '#/components/schemas/UUID'
        is_global:
          type: boolean
          default: false
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    TemplateVariable:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [text, number, date, select, brand_field]
        required:
          type: boolean
          default: false
        default_value:
          type: string
        options:
          type: array
          items:
            type: string
        description:
          type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Approval Types
    # ─────────────────────────────────────────────────────────────────────────
    ApprovalWorkflow:
      type: object
      required: [id, name, stages]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        name:
          type: string
        description:
          type: string
        stages:
          type: array
          items:
            $ref: '#/components/schemas/ApprovalStage'
        brand_id:
          $ref: '#/components/schemas/UUID'

    ApprovalStage:
      type: object
      required: [id, name, approvers]
      properties:
        id:
          type: string
        name:
          type: string
        approvers:
          type: array
          items:
            $ref: '#/components/schemas/UUID'
          description: User IDs who can approve
        require_all:
          type: boolean
          default: false
        auto_approve_after_hours:
          type: integer

    ApprovalRequest:
      type: object
      required: [id, content_id, workflow_id, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        content_id:
          $ref: '#/components/schemas/UUID'
        workflow_id:
          $ref: '#/components/schemas/UUID5'
        status:
          type: string
          enum: [pending, approved, rejected, cancelled]
        current_stage:
          type: string
        decisions:
          type: array
          items:
            $ref: '#/components/schemas/ApprovalDecision'
        submitted_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    ApprovalDecision:
      type: object
      required: [stage_id, user_id, decision]
      properties:
        stage_id:
          type: string
        user_id:
          $ref: '#/components/schemas/UUID'
        decision:
          type: string
          enum: [approved, rejected, skipped]
        comment:
          type: string
        decided_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Idea Types
    # ─────────────────────────────────────────────────────────────────────────
    Idea:
      type: object
      required: [id, title, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, proposed, approved, in_progress, published, archived]
        brand_id:
          $ref: '#/components/schemas/UUID'
        pillar_id:
          $ref: '#/components/schemas/UUID'
        source:
          type: string
          enum: [manual, ai_suggested, trend, competitor, user_request]
        score:
          type: number
          minimum: 0
          maximum: 100
        tags:
          type: array
          items:
            type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        target_date:
          type: string
          format: date
        content_ids:
          type: array
          items:
            $ref: '#/components/schemas/UUID'
        created_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Content Pillar Types
    # ─────────────────────────────────────────────────────────────────────────
    ContentPillar:
      type: object
      required: [id, name, brand_id]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        brand_id:
          $ref: '#/components/schemas/UUID'
        themes:
          type: array
          items:
            type: string
        keywords:
          type: array
          items:
            type: string
        target_percentage:
          type: number
          description: Target % of content mix
        color:
          type: string
        icon:
          type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Report Types
    # ─────────────────────────────────────────────────────────────────────────
    Report:
      type: object
      required: [id, name, type, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [performance, campaign, content, brand_health, competitive, custom]
        status:
          type: string
          enum: [draft, generating, ready, failed, scheduled]
        template_id:
          $ref: '#/components/schemas/UUID5'
        brand_id:
          $ref: '#/components/schemas/UUID'
        date_range:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        sections:
          type: array
          items:
            $ref: '#/components/schemas/ReportSection'
        output_formats:
          type: array
          items:
            type: string
            enum: [pdf, pptx, html, csv]
        output_urls:
          type: object
          additionalProperties:
            type: string
            format: uri
        schedule:
          $ref: '#/components/schemas/ReportSchedule'
        created_at:
          type: string
          format: date-time
        generated_at:
          type: string
          format: date-time

    ReportSection:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [summary, metrics, chart, table, narrative, comparison]
        title:
          type: string
        config:
          type: object
          additionalProperties: true
        data:
          type: object
          additionalProperties: true

    ReportSchedule:
      type: object
      properties:
        frequency:
          type: string
          enum: [daily, weekly, monthly, quarterly]
        day_of_week:
          type: integer
        day_of_month:
          type: integer
        time:
          type: string
        timezone:
          type: string
        recipients:
          type: array
          items:
            type: string
            format: email

    # ─────────────────────────────────────────────────────────────────────────
    # Hashtag Types
    # ─────────────────────────────────────────────────────────────────────────
    Hashtag:
      type: object
      required: [tag]
      properties:
        tag:
          type: string
        platform:
          $ref: '#/components/schemas/Platform'
        volume:
          type: integer
        trend:
          type: string
          enum: [rising, stable, declining]
        competition:
          type: string
          enum: [low, medium, high]
        relevance_score:
          type: number
          minimum: 0
          maximum: 1

    # ─────────────────────────────────────────────────────────────────────────
    # Render Queue Types
    # ─────────────────────────────────────────────────────────────────────────
    RenderQueueStats:
      type: object
      properties:
        pending:
          type: integer
        running:
          type: integer
        completed_24h:
          type: integer
        failed_24h:
          type: integer
        avg_wait_ms:
          type: integer
        avg_duration_ms:
          type: integer
        by_priority:
          type: object
          additionalProperties:
            type: integer
        by_model:
          type: object
          additionalProperties:
            type: integer

    # ─────────────────────────────────────────────────────────────────────────
    # Render Worker Types
    # ─────────────────────────────────────────────────────────────────────────
    RenderWorker:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
        machine_id:
          type: string
        status:
          type: string
          enum: [idle, busy, warming, error, offline]
        region:
          type: string
        gpu:
          type: string
        vram_mb:
          type: integer
        vram_used_mb:
          type: integer
        loaded_models:
          type: array
          items:
            type: string
        current_job_id:
          $ref: '#/components/schemas/UUID'
        jobs_completed:
          type: integer
        last_heartbeat:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # LoRA Types
    # ─────────────────────────────────────────────────────────────────────────
    LoRA:
      type: object
      required: [id, name, status]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [pending, training, ready, failed, archived]
        type:
          type: string
          enum: [persona, style, object, concept]
        base_model:
          type: string
        persona_id:
          $ref: '#/components/schemas/UUID'
        brand_id:
          $ref: '#/components/schemas/UUID'
        training_config:
          $ref: '#/components/schemas/LoRATrainingConfig'
        training_progress:
          type: number
          minimum: 0
          maximum: 1
        metrics:
          type: object
          properties:
            loss:
              type: number
            steps:
              type: integer
        file_url:
          type: string
          format: uri
        file_size_bytes:
          type: integer
        created_at:
          type: string
          format: date-time
        trained_at:
          type: string
          format: date-time
        content_hash:
          $ref: '#/components/schemas/ContentHash'

    LoRATrainingConfig:
      type: object
      properties:
        steps:
          type: integer
          default: 1000
        learning_rate:
          type: number
          default: 0.0001
        batch_size:
          type: integer
          default: 1
        resolution:
          type: integer
          default: 512
        rank:
          type: integer
          default: 32
        alpha:
          type: integer
          default: 32

    LoRATrainingJob:
      type: object
      required: [id, lora_id, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        lora_id:
          type: string
        status:
          type: string
          enum: [queued, preparing, training, finalizing, complete, failed]
        progress:
          type: number
        current_step:
          type: integer
        total_steps:
          type: integer
        eta_seconds:
          type: integer
        logs:
          type: array
          items:
            type: string
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Discovery Types
    # ─────────────────────────────────────────────────────────────────────────
    DiscoverySession:
      type: object
      required: [id, brand_id, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        brand_id:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
          enum: [active, paused, completed, abandoned]
        current_phase:
          type: string
          enum: [foundation, audience, differentiation, expression, story, execution]
        progress:
          type: number
          minimum: 0
          maximum: 1
        questions_answered:
          type: integer
        extractions:
          type: array
          items:
            $ref: '#/components/schemas/Extraction'
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    DiscoveryQuestion:
      type: object
      required: [id, phase, text]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        phase:
          type: string
        text:
          type: string
        follow_ups:
          type: array
          items:
            type: string
        extraction_targets:
          type: array
          items:
            type: string
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/UUID5'

    Extraction:
      type: object
      required: [field, value, confidence]
      properties:
        field:
          type: string
        value:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        source_question_id:
          $ref: '#/components/schemas/UUID5'
        source_text:
          type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Ingestion Types
    # ─────────────────────────────────────────────────────────────────────────
    IngestionJob:
      type: object
      required: [id, brand_id, source_type, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        brand_id:
          $ref: '#/components/schemas/UUID'
        source_type:
          type: string
          enum: [website, social, document, figma, salesforce, hubspot, manual]
        source_url:
          type: string
          format: uri
        status:
          type: string
          enum: [pending, crawling, extracting, validating, complete, failed]
        progress:
          type: number
        items_found:
          type: integer
        items_processed:
          type: integer
        extractions:
          type: array
          items:
            $ref: '#/components/schemas/Extraction'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    IngestionSource:
      type: object
      required: [id, type, brand_id]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
          enum: [website, social, document, figma, salesforce, hubspot]
        brand_id:
          $ref: '#/components/schemas/UUID'
        config:
          type: object
          additionalProperties: true
        credentials_id:
          $ref: '#/components/schemas/UUID'
        last_sync_at:
          type: string
          format: date-time
        sync_frequency:
          type: string
          enum: [manual, daily, weekly, monthly]

    # ─────────────────────────────────────────────────────────────────────────
    # Knowledge Graph Types
    # ─────────────────────────────────────────────────────────────────────────
    GraphEntity:
      type: object
      required: [id, type, name]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        type:
          type: string
          enum: [brand, persona, product, audience, competitor, theme, keyword]
        name:
          type: string
        properties:
          type: object
          additionalProperties: true
        confidence:
          type: number
        provenance:
          type: array
          items:
            type: string

    GraphRelationship:
      type: object
      required: [id, type, source_id, target_id]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        type:
          type: string
          enum: [has_persona, targets_audience, competes_with, belongs_to, related_to]
        source_id:
          $ref: '#/components/schemas/UUID5'
        target_id:
          $ref: '#/components/schemas/UUID5'
        properties:
          type: object
          additionalProperties: true
        weight:
          type: number

    GraphQuery:
      type: object
      required: [start_node]
      properties:
        start_node:
          $ref: '#/components/schemas/UUID5'
        relationship_types:
          type: array
          items:
            type: string
        max_depth:
          type: integer
          default: 3
        direction:
          type: string
          enum: [outgoing, incoming, both]
          default: both
        limit:
          type: integer
          default: 100

    GraphQueryResult:
      type: object
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/GraphEntity'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/GraphRelationship'

    # ─────────────────────────────────────────────────────────────────────────
    # Snapshot Types
    # ─────────────────────────────────────────────────────────────────────────
    Snapshot:
      type: object
      required: [id, type, state_hash]
      properties:
        id:
          $ref: '#/components/schemas/UUID5'
        type:
          type: string
          enum: [agents, modules, workflows, brands, full]
        state_hash:
          $ref: '#/components/schemas/ContentHash'
        event_sequence:
          type: integer
          description: Last event sequence number
        size_bytes:
          type: integer
        created_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Feature Flag Types
    # ─────────────────────────────────────────────────────────────────────────
    FeatureFlag:
      type: object
      required: [key, enabled]
      properties:
        key:
          type: string
        enabled:
          type: boolean
        description:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/FeatureFlagVariant'
        targeting:
          $ref: '#/components/schemas/FeatureFlagTargeting'
        default_variant:
          type: string

    FeatureFlagVariant:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
        value:
          description: Any JSON value
        weight:
          type: number

    FeatureFlagTargeting:
      type: object
      properties:
        user_ids:
          type: array
          items:
            $ref: '#/components/schemas/UUID'
        brand_ids:
          type: array
          items:
            $ref: '#/components/schemas/UUID'
        percentage:
          type: number
        rules:
          type: array
          items:
            type: object
            additionalProperties: true

    # ─────────────────────────────────────────────────────────────────────────
    # Scheduler Types
    # ─────────────────────────────────────────────────────────────────────────
    ScheduledJob:
      type: object
      required: [id, name, schedule, handler]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        description:
          type: string
        schedule:
          type: string
          description: Cron expression
        handler:
          type: string
          description: Handler identifier
        payload:
          type: object
          additionalProperties: true
        enabled:
          type: boolean
          default: true
        last_run_at:
          type: string
          format: date-time
        next_run_at:
          type: string
          format: date-time
        last_result:
          type: string
          enum: [success, failure, skipped]

    # ─────────────────────────────────────────────────────────────────────────
    # Queue Types
    # ─────────────────────────────────────────────────────────────────────────
    QueueStats:
      type: object
      required: [name]
      properties:
        name:
          type: string
        pending:
          type: integer
        processing:
          type: integer
        completed:
          type: integer
        failed:
          type: integer
        dlq_size:
          type: integer
        throughput_per_minute:
          type: number
        avg_processing_ms:
          type: integer

    DeadLetterItem:
      type: object
      required: [id, queue, payload, error]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        queue:
          type: string
        payload:
          type: object
          additionalProperties: true
        error:
          $ref: '#/components/schemas/Error'
        attempts:
          type: integer
        first_failed_at:
          type: string
          format: date-time
        last_failed_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Auth Types
    # ─────────────────────────────────────────────────────────────────────────
    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          default: Bearer
        expires_in:
          type: integer
        refresh_token:
          type: string
        scope:
          type: string

    APIKey:
      type: object
      required: [id, name, key_prefix]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        key_prefix:
          type: string
          description: First 8 chars of key
        scopes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time

    Session:
      type: object
      required: [id, user_id]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        user_id:
          $ref: '#/components/schemas/UUID'
        ip_address:
          type: string
        user_agent:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        last_active_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # User/Permission Types
    # ─────────────────────────────────────────────────────────────────────────
    User:
      type: object
      required: [id, email]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        email:
          type: string
          format: email
        name:
          type: string
        avatar_url:
          type: string
          format: uri
        roles:
          type: array
          items:
            type: string
        brand_ids:
          type: array
          items:
            $ref: '#/components/schemas/UUID'
        created_at:
          type: string
          format: date-time

    Role:
      type: object
      required: [id, name, permissions]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        permissions:
          type: array
          items:
            type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Integration Types
    # ─────────────────────────────────────────────────────────────────────────
    Integration:
      type: object
      required: [id, platform, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        platform:
          $ref: '#/components/schemas/Platform'
        status:
          type: string
          enum: [connected, disconnected, error, pending]
        brand_id:
          $ref: '#/components/schemas/UUID'
        account_id:
          type: string
        account_name:
          type: string
        scopes:
          type: array
          items:
            type: string
        connected_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Webhook Types
    # ─────────────────────────────────────────────────────────────────────────
    Webhook:
      type: object
      required: [id, url, events]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventType'
        secret:
          type: string
          description: HMAC secret (write-only)
        enabled:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time

    WebhookDelivery:
      type: object
      required: [id, webhook_id, event_id, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        webhook_id:
          $ref: '#/components/schemas/UUID'
        event_id:
          $ref: '#/components/schemas/UUID5'
        status:
          type: string
          enum: [pending, success, failed]
        response_code:
          type: integer
        response_body:
          type: string
        attempts:
          type: integer
        delivered_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Audit Types
    # ─────────────────────────────────────────────────────────────────────────
    AuditEntry:
      type: object
      required: [id, action, user_id, timestamp]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        action:
          type: string
        user_id:
          $ref: '#/components/schemas/UUID'
        resource_type:
          type: string
        resource_id:
          type: string
        changes:
          type: object
          properties:
            before:
              type: object
            after:
              type: object
        ip_address:
          type: string
        user_agent:
          type: string
        timestamp:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Search Types
    # ─────────────────────────────────────────────────────────────────────────
    SearchQuery:
      type: object
      required: [query]
      properties:
        query:
          type: string
        types:
          type: array
          items:
            type: string
            enum: [content, campaign, brand, idea, trend]
        brand_id:
          $ref: '#/components/schemas/UUID'
        filters:
          type: object
          additionalProperties: true
        sort:
          type: string
        limit:
          type: integer
          default: 20

    SearchResult:
      type: object
      required: [hits, total]
      properties:
        hits:
          type: array
          items:
            $ref: '#/components/schemas/SearchHit'
        total:
          type: integer
        took_ms:
          type: integer

    SearchHit:
      type: object
      required: [id, type, score]
      properties:
        id:
          type: string
        type:
          type: string
        score:
          type: number
        highlight:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        source:
          type: object
          additionalProperties: true

    # ─────────────────────────────────────────────────────────────────────────
    # Schema Version Types
    # ─────────────────────────────────────────────────────────────────────────
    SchemaVersion:
      type: object
      required: [version, applied_at]
      properties:
        version:
          type: string
        description:
          type: string
        applied_at:
          type: string
          format: date-time
        checksum:
          type: string

    Migration:
      type: object
      required: [version, direction, status]
      properties:
        version:
          type: string
        direction:
          type: string
          enum: [up, down]
        status:
          type: string
          enum: [pending, running, complete, failed]
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        error:
          type: string

    # ─────────────────────────────────────────────────────────────────────────
    # Bulk Operation Types
    # ─────────────────────────────────────────────────────────────────────────
    BulkOperation:
      type: object
      required: [id, type, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
          enum: [create, update, delete, publish, generate]
        resource_type:
          type: string
        status:
          type: string
          enum: [pending, processing, complete, failed]
        total:
          type: integer
        processed:
          type: integer
        succeeded:
          type: integer
        failed:
          type: integer
        errors:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              error:
                $ref: '#/components/schemas/Error'
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    # ─────────────────────────────────────────────────────────────────────────
    # Export Types
    # ─────────────────────────────────────────────────────────────────────────
    ExportJob:
      type: object
      required: [id, type, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
          enum: [brand, content, analytics, full]
        format:
          type: string
          enum: [json, csv, zip]
        status:
          type: string
          enum: [pending, processing, ready, expired]
        download_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
[...]
